.projectsTitle {
    margin-top: 120px;
    font-size: 40px;
    text-align: center;
    transition: all 0.7s;
}

.projectsTitle:hover {
    text-shadow: 0px 5px 20px var(--secondary-text-color);
}

.projectsBox{
    
    margin: 50px 5%
}

.projectFilters{
    
    height: 50px;
}


.seeListButton{
    background-color: transparent;
    margin-right: 15px;
    border-color: transparent;
}

.selectedButton{
    border-color: var(--primary-text-color);
    border-radius: 10px;
}

.projectList{
    border: 1px solid var(--secondary-text-color);
    height: 300px;
}