:root {
  --background-color: #171717;
  --primary-text-color: #fff;
  --secondary-text-color: #9b9b9b;
}


body {
  background-color: var(--background-color);
  margin: 0;
}



.primary-text {
  color: var(--primary-text-color);
  font-family: Cambria
}

.secondary-text {
  color: var(--secondary-text-color);
  font-family: Cambria
}


/* Layout */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  background: linear-gradient(to bottom, var(--background-color) 70%, transparent);
  justify-content: space-between;
  display: flex;
  padding: 10px 3%;
  margin: 0;
  z-index: 2;
}

.name p:nth-of-type(1) {
  margin-bottom: 3px;
}

.name p:nth-of-type(2) {
  margin-top: 0;
}

.menu {
  display: flex;
  gap: 10%;
  min-width: 370px;
}

.menu p {
  transition: all 0.3s ease;
}

.menu p:hover {
  transform: scale(1.06);
  font-variation-settings: "wght" 800;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }

  footer {
    flex-direction: column;
  }

  footer div {
    margin: 0 auto;
  }
}

@media (min-width: 801px) {

  .hamburgermenu,
  .hamburgerbutton,
  .showhamburgerbutton {
    display: none;
  }

  footer {
    flex-direction: row-reverse;
  }


}


.hamburgerbutton {
  margin-top: 10px;
  background-color: var(--background-color);
  border: transparent;
  position: fixed;
  right: 20px;
  top: 15px;
  font-size: 18px;
}

.hidehamburgerbutton {
  opacity: 0;
}

.showhamburgerbutton {
  opacity: 100;
}

.hamburgerhidden {
  animation: hidehamburgermenu 1s forwards;

}

.hamburgerdisplay {
  animation: showhamburgermenu 1s forwards;

}

.hamburgermenu {
  display: block;
  position: fixed;
  top: 50px;
  right: -100px;
  padding-right: 20px;
  text-align: right;
  font-size: 18px;
  background-color: var(--background-color);
  box-shadow: -15px 15px 15px var(--background-color);

}

.animationhidder {
  position: fixed;
  top: 50px;
  right: 0;
  height: 152px;
  width: 119px;
  background-color: var(--background-color);

}

@keyframes showhamburgermenu {
  0% {
    right: -120px;
  }

  100% {
    right: 8px;
  }
}

@keyframes hidehamburgermenu {
  0% {
    right: 8px;
  }

  100% {
    right: -120px;
  }
}

footer {
  display: flex;
  padding: 3%;
  justify-content: space-between;
}

.menusocials {
  display: flex;
  width: 194px;
}

.menusocials p:nth-of-type(2) {
  padding: 0 5%;
}

.menusocials p {
  transition: all 0.3s ease;
}

.menusocials p:hover {
  transform: scale(1.06);
  font-variation-settings: "wght" 800;
}


