:root {
  --background-color: #171717;
  --primary-text-color: #fff;
  --secondary-text-color: #9b9b9b;
}

html{
    scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  margin: 0;
}

.preload {
  animation-duration: 0s !important;
}

.primaryText {
  color: var(--primary-text-color);
  font-family: Cambria
}

.secondaryText {
  color: var(--secondary-text-color);
  font-family: Cambria
}

.primaryTextLink:link{
  color: var(--primary-text-color);
  text-decoration: none;
}

.primaryTextLink:visited{
  color: var(--primary-text-color);
}


/* Layout */


/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  background: linear-gradient(to bottom, var(--background-color) 70%, transparent);
  justify-content: space-between;
  display: flex;
  padding: 10px 3%;
  margin: 0;
  z-index: 2;
}

.name p:nth-of-type(1) {
  margin-bottom: 3px;
}

.name p:nth-of-type(2) {
  margin-top: 0;
}

.menu {
  display: flex;
  gap: 7%;
  min-width: 411px;
}

.menu a {
  transition: all 0.3s ease;
  margin-block-start: 1em;
  height: 25px;
}

.menu a:hover {
  transform: scale(1.06);
  font-variation-settings: "wght" 800;
}


.hamburgerButton {
  margin-top: 10px;
  background-color: var(--background-color);
  border: transparent;
  position: fixed;
  right: 20px;
  top: 15px;
  font-size: 18px;
}

.hideHamburgerButton {
  opacity: 0;
}

.showHamburgerButton {
  opacity: 100;
}

.hamburgerHidden {
  animation: hideHamburgerMenu 1s forwards;

}

.hamburgerDisplay {
  animation: showHamburgerMenu 1s forwards;

}

.hamburgerMenu {
  display: block;
  position: fixed;
  top: 50px;
  right: -100px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: right;
  font-size: 18px;
  background-color: var(--background-color);
  box-shadow: -15px 15px 15px var(--background-color);
}

.hamburgerMenu a{
    display: block;
    margin-block-start: 1em;
}


@keyframes showHamburgerMenu {
  0% {
    right: -160px;
    opacity: 0;
  }

  100% {
    right: 8px;
    opacity: 100;
  }
}

@keyframes hideHamburgerMenu {
  0% {
    right: 8px;
    opacity: 100;
  }

  100% {
    right: -160px;
    opacity: 0;
  }
}


/* Footer */

footer {
  display: flex;
  padding: 3%;
  justify-content: space-between;
}

.menuSocials {
  display: flex;
  width: 265px;
}


.icon {
  position:relative;
  top:3px;
  left: 4px;
}

.menuSocials a:nth-of-type(2) {
  padding: 0 5%;
}

.menuSocials a {
  margin-block-start: 0.8em;
  transition: all 0.3s ease;
  height: 25px;
}

.menuSocials a:hover {
  transform: scale(1.06);
  font-variation-settings: "wght" 800;
}




/* Responsive */

@media (max-width: 800px) {
  .menu {
    display: none;
  }

  footer {
    flex-direction: column;
  }

  footer div {
    margin: 0 auto;
  }
}

@media (min-width: 801px) {

  .hamburgerMenu,
  .hamburgerMenu a,
  .hamburgerButton {
    opacity: 0;
    background-color: transparent;
    box-shadow: 0px 0px;
  }

  .hamburgerMenu a{
    display: none;
  }

  footer {
    flex-direction: row-reverse;
  }
}