/* Main Page */

.main {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.textShadow {
    transition: all 0.7s ease;
    width: fit-content;
}

.textShadow:hover {
    transform: scale(1.1);
    text-shadow: 0px 2px 10px var(--secondary-text-color);
}

.inline {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 10px;
}




/* Ocupation */

.ocupation {
    margin-left: auto;
    margin-right: auto;
}

.showOcupation {
    animation: showOcupation 5s forwards;
}

@keyframes showOcupation {
    0% {
        opacity: 0%;
        top: -30px
    }

    10% {
        opacity: 100%;
        top: 0;
    }

    90% {
        opacity: 100%;
        top: 0;
    }

    100% {
        opacity: 0%;
        top: 30px;
    }
}

/* Arrow */

.homeArrowBox {
    position: relative;
    animation: arrow-movement 3s ease-in-out infinite;
    top: 80px;
}

.homeArrow {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 6px var(--secondary-text-color) solid;
    border-right: 6px var(--secondary-text-color) solid;
    transform: rotate(45deg) skew(-20deg, -20deg);
    transition: all 0.7s ease;
}


@keyframes arrow-movement {
    0% {

        top: 120px;

    }

    50% {

        top: 200px;

    }

    100% {

        top: 120px;

    }
}


/* Main menu Buttons */

.mainMenuButtons {
    margin-left: auto;
    margin-right: auto;
    transition: all 0.7s ease;
}

.mainMenuButtons button {
    position: relative;
    display: inline-block;
    margin: 30px;
    background-color: transparent;
    border: 1px var(--secondary-text-color) solid;
    border-radius: 10px;
    transition: all 0.7s ease;
}

.mainMenuButtons button:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 10px var(--secondary-text-color);
}


/* Sections */

.homeSection {
    padding-top: 100px;
}

.sectionText {
    font-size: 20px;
}

/* Projects */

.projectsFrame {
    border: 2px var(--secondary-text-color) solid;
    border-radius: 7px;
    box-shadow: 0px 0px 15px var(--secondary-text-color);
}

.principalProject {
    border: 2px var(--secondary-text-color) solid;
    width: auto;
}

.secondaryProject {
    border: 2px var(--secondary-text-color) solid;
}

.principalProject:hover>a .projectImage img,
.secondaryProject:hover>a .projectImage img {
    box-shadow: 0px 0px 30px var(--secondary-text-color);
    transform: scale(102%);
}

.projectTitle {
    transition: all 0.7s ease;
    margin-left: 30px;
}

.projectImage {
    display: flex;
    justify-content: center;
}

.projectImage img {
    width: 70%;
    transition: all 0.7s ease;
}

.projectResume {
    text-align: center;
    transition: all 0.7s ease;
}

.projectLink {
    text-decoration: none;

}

.projectClick {
    text-align: center;
    margin-top: 0;
}



/* Knowledge */



.knowledgeRow {
    margin-bottom: 25px;
}

.knowledgeBox {
    width: min-content;
    height: min-content;
    border: 1px var(--secondary-text-color) solid;
    border-radius: 15px;
    box-shadow: 0px 0px 10px var(--secondary-text-color);
    margin-right: 15px;
    margin-bottom: 5px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}

.knowledgeBoxText {
    display: none;
    margin: 0 3px 7px 3px;
}



.knowledgeBox img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
}

/* About me */

.aboutImage {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px var(--primary-text-color);
    border-radius: 10px;
}

.aboutImage img {
    width: 100%;
    opacity: 0.5;
}

.aboutText {
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: 600;
    transition: all 0.3s ease;
    overflow: hidden;
    height: 100%;
}

.aboutButton {
    position: absolute;
    background: rgba(17, 17, 17, 0.6);
    border-radius: 20px;
    border-color: transparent;
    transition: all 0.7s ease;
}

.aboutButton:hover {
    box-shadow: 0 0 10px 2px var(--primary-text-color);
}

/* Contact */

.contactBox {
    position: relative;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactText {
    position: absolute;
    width: max-content;
    transition: all 0.5s ease;

}

.contactButton {
    font-size: 40px;
    background-color: transparent;
    border: 2px var(--secondary-text-color) solid;
    border-radius: 30px;
    transition: all 0.3s ease;

}

.contactButton:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 20px var(--secondary-text-color);
}

.contactButton:hover~.contactText {
    transform: scale(1.05);
    text-shadow: 0px 0px 20px var(--secondary-text-color);
}


/* Responsive */

@media (max-width: 800px) {

    .ocupation {
        font-size: 18px;
        width: 300px;
    }

    .mainMenuButtons {
        width: 331px;
    }

    .mainMenuButtons button {
        font-size: 20px;
    }

    .homeArrow {
        width: 50px;
        height: 50px;
    }

    .homeArrow:nth-child(2) {
        margin-top: -20px;
    }

    .homePage {
        min-height: 400px;
    }

    .sectionTitle {
        font-size: 25px;
    }

    .projectTitle {
        font-size: 23px;
    }

    .projectResume {
        font-size: 16px;
    }

    .projectClick {
        display: block;
    }

    .knowledgeBoxText {
        display: block;
    }

    .aboutButton {
        font-size: 20px;
        bottom: 10px;
        right: 5px;
    }

    .aboutText {
        font-size: 16px;
        left: 15px;
    }

    .contactText {
        font-size: 20px;
    }

    .contactText:nth-of-type(1) {
        rotate: -7deg;
        top: 30px;
        left: 10%;
    }

    .contactText:nth-of-type(2) {
        rotate: 5deg;
        top: 120px;
        right: 10%;
    }

    .contactText:nth-of-type(3) {
        rotate: 3deg;
        bottom: 100px;
    }

}

@media (min-width: 801px) {

    .ocupation {
        font-size: 30px;
        width: 480px;
    }

    .mainMenuButtons {
        width: 400px;
    }

    .mainMenuButtons button {
        font-size: 25px;
    }

    .homeArrow {
        width: 100px;
        height: 100px;
    }

    .homeArrow:nth-child(2) {
        margin-top: -50px;
    }

    .homePage {
        min-height: 810px;
    }

    .sectionTitle {
        font-size: 40px;
    }

    .projectTitle {
        font-size: 30px;
    }

    .projectResume {
        font-size: 22px;
    }

    .projectClick {
        display: none;
    }

    .knowledgeBox:hover>.knowledgeBoxText {
        display: block;
    }

    .aboutButton {
        font-size: 30px;
        bottom: 10px;
        right: 15px;
    }

    .aboutText {
        font-size: 22px;
    }

    .contactText {
        font-size: 25px;
    }

    .contactText:nth-of-type(1) {
        rotate: -10deg;
        top: 10px;
        left: 20%;
    }

    .contactText:nth-of-type(2) {
        rotate: 5deg;
        top: 70px;
        right: 20%;
    }

    .contactText:nth-of-type(3) {
        rotate: 3deg;
        bottom: 40px;
    }
}




@media (max-width: 1200px) {

    .secondaryProjectBox {
        display: block;
    }

    .secondaryProject {
        width: auto;
    }

    .aboutImage {
        width: 95%;
    }

    .aboutText {
        max-width: 95%;
    }

}

@media (min-width: 1201px) {

    .secondaryProjectBox {
        display: flex;
    }

    .secondaryProject {
        width: 100%;
    }

    .secondaryProject a .projectTitle {
        font-size: 23px;
    }

    .secondaryProject a .projectResume {
        font-size: 16px;
    }

    .aboutImage {
        width: 80%;
    }

    .aboutText {
        max-width: 60%;
    }

}

@media (min-width: 1500px) {

    .secondaryProject a .projectTitle {
        font-size: 30px;
    }

    .secondaryProject a .projectResume {
        font-size: 22px;
    }

}

@media (max-width: 530px) {
    .aboutButton {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        border-color: var(--secondary-text-color);
    }

    .aboutText {
        font-size: 14px;
    }
}