.main {
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

.ocupation {
    margin-left: auto;
    margin-right: auto;
}


.inline {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 10px;
}


.showOcupation {
    animation: showOcupation 7s forwards;
}


@media (max-width: 800px) {
  .ocupation{
    font-size: 18px;
    width: 387px;
  }
}

@media (min-width: 801px) {

  .ocupation{
    font-size: 30px;
    width: 618px;
  }
}

@keyframes showOcupation {
    0% {
        opacity: 0%;
        top: -30px
    }
    10%{
        opacity: 100%;
        top: 0;
    }

    90%{
        opacity: 100%;
        top: 0;
    }

    100% {
        opacity: 0%;
        top: 30px;
    }
}

